/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
}

body {
  background: gray;
  padding: 0 30px;
  margin: 20px auto;
}

/******************************************
/* LAYOUT
/*******************************************/
body>* {
  text-align: center;
  display: block;
  margin: 30px auto;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3.25rem;
}

h3 {
  font-size: 3rem;
}

h4{
  font-size: 2.75rem;
}

li{
  font-size: 2.5rem;
}

input {
  font-size: 2.5rem;
}

img {
  display: block;
  margin: 20px auto 0 auto;
  width: 40%;
}